@charset "utf-8";

div#bgColor{
	background: #F8F7F5;
	border: 1px solid #dedede;
}

div#mainImgBox{
	margin: 0 auto;
	text-align: left;
	width: 960px;
	background: url(../../index/img/itabashi.jpg) no-repeat top right;
	min-height:381px;
	height: auto !important;
	height: 381px;
}

div#mainImgBox div#mainMessageBox{
	width: 277px;
	min-height:381px;
	height: auto !important;
	height: 381px;
	background: #fff;
	border-left: 1px solid #dedede;
	border-right: 1px solid #efefef;
}

	div#mainImgBox div#mainMessageBox strong{
		font-weight: bold;
		font-size: 17px;
		display: block;
		padding: 90px 20px 10px;
	}
	div#mainImgBox div#mainMessageBox span{
		padding: 0 20px;
		display: block;
		line-height: 1.9;
	}

div#mainContents{
	width: 960px;
	margin: 0 auto;
	text-align: left;
	margin-top: 60px;
}

	div#mainContents div.topicsBox{
		width: 295px;
		float: left;
		margin-left: 33px;
		margin-bottom: 75px;
	}

	div#mainContents div.firstItem{
		margin-left: 0;
	}

	div#mainContents div.topicsBox strong{
		margin-bottom: 15px;
		font-weight: bold;
		display: block;
		font-size: 14px;
	}

	div#mainContents div.topicsBox span{
		line-height: 1.8;
		display: block;
		text-align: justify;
		margin-bottom: 8px;
	}

div#newTopics{
	float: left;
}

	div#newTopics strong{
		font-weight: bold;
		font-size: 13px;
		margin-bottom: 8px;
		display: block;
		font-size: 14px;
	}

	div#newTopics dl{
		width: 295px;
	}

	div#newTopics dl dt,
	div#newTopics dl dd{
		padding: 10px 0;
		border-bottom: 1px solid #ddd;
	}

	div#newTopics dl dt{
		float:left;
		width:75px;
		clear:both;
		background: url(../img/bg_boder.gif) repeat 0 0 ;
	}

	div#newTopics dl dd{
		width:195px;
		margin-left:75px;
		padding-left: 20px;
	}

div#outlineBox{
	margin-left: 33px;
	float: left;
}

	div#outlineBox strong{
		font-weight: bold;
		font-size: 13px;
		margin-bottom: 8px;
		display: block;
		font-size: 14px;
	}

	div#outlineBox dl{
		width: 295px;
	}

	div#outlineBox dl dt,
	div#outlineBox dl dd{
		padding: 10px 0;
	}

	div#outlineBox dl dt{
		float:left;
		width:65px;
		clear:both;
		font-weight: bold;
	}

	div#outlineBox dl dd{
		width:205px;
		margin-left:65px;
		padding-left: 20px;
		color: #666;
	}

div#bannerBox{
	float: right;
	width: 250px;
}

	div#bannerBox ul{}
	div#bannerBox ul li{
		margin-bottom: 15px;
	}
