@charset "utf-8";

/*-------------------------------------*/

div#wrapper{
	margin: 0 auto;
	text-align: left;
	width: 100%;
	line-height: 1.8;
	font-family: 'Montserrat', sans-serif;
}

/*-------------------------------------*/
/* ヘッダー */
/*-------------------------------------*/


div#bgHeader{
	background-color: #000;
}

div#header{
	width: 1040px;
	margin: 0 auto;
	text-align: left;
}

	div#header h1{
		font-size: 48px;
		float: left;
		width: 300px;
		color: #fff;
		letter-spacing: 0.05em;
		padding: 0px 0 0 0px;

	}

/*-------------------------------------*/
/* グローバルナビゲーション */
/*-------------------------------------*/
	div#header ul#gNavi{
		float: right;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	ul#gNavi li{
		display: block;
		float: right;
		border-left: 1px solid #666;
	}

	ul#gNavi li.firstItem{
		border-right: 1px solid #666;
	}
	ul#gNavi li img{
		vertical-align: bottom;
	}

	ul#gNavi li.lastItem{
		margin-left: 0;
	}

	div#header ul#gNavi li a{
		font-size: 13px;
		color: #fff;
		text-decoration: none;
		display: block;
		padding: 30px 15px;
	}

	div#header ul#gNavi li a:hover{
		background: #333;
	}

/*-------------------------------------*/
/* フッター */
/*-------------------------------------*/

div#footer{
	background: #000;
	margin-top: 45px;
	text-align: center;
}

	div#footer p#copyright{
		text-align: center;
		padding: 10px;
		color: #fff;
		font-family:"lucida grande", tahoma, verdana, arial, sans-serif!important;
	}

div#bgColor{
	background: #F8F7F5;
	border: 1px solid #dedede;
}

div#mainImgBox{
	margin: 0 auto;
	text-align: left;
	width: 1040px;
	background: url(../img/biyousitu.jpg) no-repeat top right;
	min-height: 250px;
	height: auto !important;
	height: 250px;
}

div#mainImgBox div#mainMessageBox{
	width: 277px;
	min-height:250px;
	height: auto !important;
	height: 250px;
	background: #fff;
	border-left: 1px solid #dedede;
	border-right: 1px solid #efefef;
}

	div#mainImgBox div#mainMessageBox strong{
		font-weight: bold;
		font-size: 20px;
		display: block;
		padding: 10px 20px 10px;
	}
	div#mainImgBox div#mainMessageBox span{
		padding: 0 20px;
		display: block;
		line-height: 1.9;
	}

div#mainContents{
	width: 1040px;
	margin: 0 auto;
	text-align: left;
	margin-top: 20px;
	font-size: 14px;
}

	div#mainContents div.topicsBox{
		width: 560px;
		float: left;
		margin-left: 33px;
		margin-bottom: 75px;
	}

	div#mainContents div.firstItem{
		width: 440px;
		margin-left: 0;
	}

	/*メニュー タイトル*/
	div#mainContents div.topicsBox strong{
		margin-bottom: 10px;
		font-weight: bold;
		display: block;
		font-size: 20px;
	}

	/*メニュー 説明*/
	div.topicsBox span{
		line-height: 1.8;
		display: block;
		text-align: justify;
		margin-bottom: 8px;
	}

/*-------------------------------------*/
/* スタッフ */
/*-------------------------------------*/
div#staff {

}

	div#staff li {
		margin-bottom: 15px;
	}

	div#staff img {
		width: 80px;
		border-radius: 300px;
		-webkit-border-radius: 300px;
		-moz-border-radius: 300px;
	}

	div#staff dt {
		float: left;
		padding-right: 20px;
	}

	div#staff dd {
		width: 380px;
	}

	div#staff dd p{
		font-weight: bold;
		font-size: 18px;
	}
/*-------------------------------------*/
/* メニュー */
/*-------------------------------------*/
div#menu {

}
	div#menu ul {
		display: table;
	}

	div#menu ul li {
		width: 250px;
		display: table-cell;
	}
	div#menu ul li.firstItem {
		width: 370px;
	}

	div#menu ul li p {
		padding-top: 10px;
		font-size: 18px;
	}

	div#menu ul li p span {
		font-size: 12px;
	}

	div#menu ul li p.firstItem {
		padding-top: 0px;
	}

	div#menu dl dt {
		float: left;
		width: 140px;
	}